.component-scoreboard {
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
    color: white;
    min-height: 4vw;
    position: absolute;
    right: 10px;
    top: 5px;
}

.component-scoreboard.frame {
    border: 30px solid pink;
    height: auto;
    border-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png") 100;
    width: 150px;
}

.component-scoreboard h2 {
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 23px;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.component-scoreboard ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.component-scoreboard li {
    margin-bottom: 5px;
}

.component-scoreboard li.current-player {
    color: #ff3414;
}

.component-scoreboard ul li small {
    font-size: inherit;
    float: right;
    clear: left;
}